@model IEnumerable<ikeepfit.Models.mt_planday>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mt_plan.mt_plan_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mt_planday_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mt_planday_day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mt_planday_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mt_planday_remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mt_planday_video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mt_planday_step)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mt_planday_kcalorie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mt_plan.mt_plan_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mt_planday_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mt_planday_day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mt_planday_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mt_planday_remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mt_planday_video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mt_planday_step)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mt_planday_kcalorie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
