@model ikeepfit.Models.mt_planday

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>mt_planday</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan.mt_plan_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan.mt_plan_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_day)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_day)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_video)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_video)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_step)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_step)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_kcalorie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_kcalorie)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
