@model ikeepfit.Models.mt_planday

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>mt_planday</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_plan_id, "mt_plan")
        </div>
        <div class="editor-field">
            @Html.DropDownList("mt_plan_id", String.Empty)
            @Html.ValidationMessageFor(model => model.mt_plan_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_planday_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_planday_id)
            @Html.ValidationMessageFor(model => model.mt_planday_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_planday_day)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_planday_day)
            @Html.ValidationMessageFor(model => model.mt_planday_day)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_planday_title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_planday_title)
            @Html.ValidationMessageFor(model => model.mt_planday_title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_planday_remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_planday_remarks)
            @Html.ValidationMessageFor(model => model.mt_planday_remarks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_planday_video)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_planday_video)
            @Html.ValidationMessageFor(model => model.mt_planday_video)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_planday_step)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_planday_step)
            @Html.ValidationMessageFor(model => model.mt_planday_step)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_planday_kcalorie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_planday_kcalorie)
            @Html.ValidationMessageFor(model => model.mt_planday_kcalorie)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
