@model ikeepfit.Models.mt_planday

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>mt_planday</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan.mt_plan_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan.mt_plan_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_day)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_day)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_video)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_video)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_step)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_step)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_planday_kcalorie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_planday_kcalorie)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
