@model ikeepfit.Models.mt_plan

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>mt_plan</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_plan_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_plan_id)
            @Html.ValidationMessageFor(model => model.mt_plan_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_plan_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_plan_name)
            @Html.ValidationMessageFor(model => model.mt_plan_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_plan_title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_plan_title)
            @Html.ValidationMessageFor(model => model.mt_plan_title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_plan_remarks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_plan_remarks)
            @Html.ValidationMessageFor(model => model.mt_plan_remarks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_plan_week)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_plan_week)
            @Html.ValidationMessageFor(model => model.mt_plan_week)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_plan_day)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_plan_day)
            @Html.ValidationMessageFor(model => model.mt_plan_day)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mt_plan_strength)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mt_plan_strength)
            @Html.ValidationMessageFor(model => model.mt_plan_strength)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
