@model ikeepfit.Models.mt_plan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>mt_plan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_week)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_week)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_day)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_day)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_strength)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_strength)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
