@model ikeepfit.Models.mt_plan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>mt_plan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_week)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_week)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_day)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_day)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mt_plan_strength)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mt_plan_strength)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
